.calendar {
    margin: 5px;
}

.dash-dropdown {
    margin: 5px;
    width: 230px;
}

#jump_to_present_btn {
    margin: 5px;
}

.Mac {
    height: auto;
    width: auto;
    max-height: 450px;
}

#day_histogram {
    height: 350px;
    margin-left: 0px;
    margin-right: 0px;
}

#hour_histogram {
    height: 350px;
    margin-left: 0px;
    margin-right: 0px;
}

#time_series_plot {
    height: 700px;
    margin-right: 0px;
}

#last_updated_timer {
    display: none
}