/* Root */
:root {
    --berkeley-blue: rgba(0, 50, 98, 1);
  }

/* Datatable */
.ag-theme-balham, .ag-theme-balham-dark, .ag-theme-alpine, .ag-theme-alpine-dark {
    --ag-font-family: var(--bs-body-font-family) !important;
    /* --ag-font-size: var(--bs-body-font-size) !important; */
    --ag-font-size: x-small !important;
}

/* Options Dropdowns */
#dataframe-picker, #quantity-picker, #cumulative-graph-picker, #today-graph-picker {
    font-size: 10px;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    #dataframe-picker, #quantity-picker, #cumulative-graph-picker, #today-graph-picker {
        font-size: 12px;
    }
}

/* Between medium devices and large devices (768px <= and <= 992px) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .nav-link {
        font-size: 15px !important;
    }
}

/* Small width devices (below 768px) */
@media screen and (max-width: 767px) {
    .offcanvas {
        width: 85% !important;
        }
    }
    
/* Small height devices (below 600px) */
@media screen and (max-height: 600px) {
    #sched-vs-reg-scatter {
        height: 150vh !important;
        }
    #hour-histogram, #day-histogram {
        height: 70vh !important;
        }
    }

/* Initial loading spinner */
._dash-loading {
    margin: auto;
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: large;
    transform: translate(-50%, -50%); 
    overflow: visible;
}

._dash-loading::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: black;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
    margin-top: 1rem; 
}

._dash-loading::before {
    content: "⚡Loading (I'm not paying for this server, so it might take a bit)...";
    display: block; 
    color: black;
    text-align: center;
    margin-top: 1rem; 
}
      